/* div {
	width: 100 %;
	border-style: solid;
	border-color: darkgreen;
	border-width: 2px;	
} */
/* comments 'out' the border box for initial overview */
.container {
	width: 100%;
	margin: 0 auto;
	background-color: white;
	text-align: left;
	font-family: "Muli"

}
/* navbar style */
ul {
  list-style-type: none;
  margin: 5px 0px 5px 0px;
  overflow: hidden;
  background-color: maroon;
  padding: 5px 5px 5px 5px;
}

li {
  display: inline;
}

li a {
 color: white;
 padding: 14px 16px;
 text-decoration: none;
}

li a:hover {
	background-color: lightgrey;
	color: black;
}

.Footer {
	text-align: center;
   /* position: fixed;
  left: 0;
  bottom: 0;
  width: 80%;
  background-color: red;
  color: black;
  text-align: center; */
}

#copy {
	float: inherit;
}

/* inserted Sunday */
.hero {
	
	background-image:url("IMG/binary.jpg");
	color: white;
	/* background-repeat: no-repeat; */
}

#logoTop {
	width: 100%;
	background-color: lightgrey;
	margin: 0 auto;

}

img {
	float: inherit;
}
#title {
	float: right;
	font-size: 15px;
	padding-right: 700px;
	font-weight: bold;
	padding-bottom: 15px;
}
.hero {
	width: 100%;
	padding: 15px 15px 15px 15px;
	border: solid;
	border-color: White;
	text-align: center;
	font-size: 50px;
}

* {
	box-sizing: border-box;
}

/* img gallery start */
.Column {
	float: left;
	width: 50%;
	padding: 0px;
	/* border-style: solid;
	border-color: maroon; */
	/* just hightlights Picture divs */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

figcaption{
	display: block;
	font-weight: bold;	
}
/* img gallery end */

.H3 {
	width: 100%;
	padding: .5px .5px .5px .5px;
	background-color: #9B7C7C;
	color: white;
}

hr {
	color: #9B7C7C;
	/* line-height: 20px; */
}

#about {
	float: inherit;

}

span {
	float: left;
	display: block;
}

/* add Sunday */

.about {
	margin-left: 900px;
}

p {
	text-align: center;
}

h3 {
	text-align: center;
}
