div {
	width: 100 %;
	border-style: solid;
	border-color: darkgreen;
	border-width: 2px;
	
}
.container {
	width: 100%;
	margin: 0 auto;
	text-align: left;
	font-family: "Muli"
}
/* navbar style */
ul {
  list-style-type: none;
  margin: 5px 5px 5px 5px;
  padding: 0;
  overflow: hidden;
  background-color: maroon;

}
li {
  display: inline;
}

li a {

 color: white;
 padding: 14px 16px;
 text-decoration: none;
}
li a:hover {
	background-color: lightgrey;
	color: black;
}

#Footer {
   position: fixed;
   margin: 0 auto;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}
#copy {
	float: inherit;
}

/* #head {
	background-color: lightgrey;
} */
#logoTop {
	background-color: lightgrey;
	margin: 0 auto;
	width: 100%;
}

img {
	float: left;
}
span {
	font-size: 20px;
	text-align:  center;
	font-weight: bold;
}
.hero {
	background-image: url(binary.jpg);
}
